<div class="site-header">
  <nav class="navbar">
    <div class="container">
      <div class="row">

        <div class="col-xs-3">
          <a class="navbar-brand" href="/">
            <img src="../assets/images/logo.png"/>
          </a>
        </div>

        <div class="col-xs-9">
          <div class="navbar-right">
            <div >
              <ul class="nav">
                <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><a routerLink="">ABOUT</a></li>
                <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><a routerLink="">CONTACT</a></li>
                <li class="col-xs-4 col-sm-2 col-md-2 col-lg-2"><a routerLink="">PORTFOLIO</a></li>
                <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2"><a routerLink="">BLOG</a></li>
                <li class="col-xs-7 col-sm-4 col-md-4 col-lg-4"><a routerLink="">WORDPRESS THEME</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>



