<div class="site-footer">

  <ul class="footer-social">
    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>

  <div class="row rights-reserved">
    <div class="col-xs-12 ">
      <small>2017 &copy; Design by Unvab. Code by Os</small>
    </div>
  </div>

</div>




